.tab {
  > span {
    opacity: 0.66;
  }

  &:hover > span {
    opacity: 1;
  }
}

.tabActive > span {
  opacity: 1;
}

.closeButton {
  .editedIndicator {
    display: none;
  }
}

.closeButtonOutSync {
  .editedIndicator {
    display: block;
  }

  .closeIndicator {
    display: none;
  }

  &:hover {
    .editedIndicator {
      display: none;
    }

    .closeIndicator {
      display: block;
    }
  }
}
