@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..700&display=swap&subset=latin,cyrillic');

@import 'tailwindcss';

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --color-back-1: #ffffff;
  --color-back-2: #e4e4e4;
  --color-back-3: #f5f5f5;

  --color-text-1-light: #333333;
  --color-text-1-dark: #f8f8f1;
  --color-text-1: var(--color-text-1-light);

  @media (prefers-color-scheme: dark) {
    --color-back-1: #272822;
    --color-back-2: #181915;
    --color-back-3: #20211b;

    --color-text-1: var(--color-text-1-dark);
  }
}

@theme {
  --default-font-family: 'Roboto', sans-serif;

  --color-back-1: var(--color-back-1);
  --color-back-2: var(--color-back-2);
  --color-back-3: var(--color-back-3);

  --color-text-1-light: var(--color-text-1-light);
  --color-text-1-dark: var(--color-text-1-dark);
  --color-text-1: var(--color-back-3);
}
